/* NavBar*/
.navbar-default h1{
      margin-top: 0px;
      color: #fff;
}
.navbar-default {
    border-bottom:none;
    background:rgba(0,0,0,0);
    border-right:none;
    border-left:none;
    border-radius:0px;
    margin-bottom:0px;
    box-shadow:none;
    border-top:0px solid rgba(0,0,0,0);
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color:#fff;
}

.navbar-default h1{
    font-weight: bold;
    padding-top:15px;
    color:#fff;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .navbar-default h1{
        padding-top:0px;
    }
    
    .jumbotron {
        padding-left:10px;
        padding-right:10px;
    }
    
    .jumbotron .view h2 {
        font-size:18px;
    }
    
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:active,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:visited{
    display:block;
    background:rgba(0,0,0,0.1);
    margin-left:auto;
    margin-right:auto;
    box-shadow:none;
    color: #2DE1FC;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;	
    transition: all 1s;
}


.navbar-nav>.open>a:focus { background-color: #bbb}

.navbar .nav > li > a, .navbar .nav > li > a {
    text-align: center;
	font-size:20px;
	height:100%;
    font-weight: 200;
    padding:45px 25px;;
	color:rgba(255,255,255,0.8);
	text-shadow: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;	
	transition: all 0.3s ease-in-out;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:hover {
	color:#2DE1FC;
}


@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    
    .navbar .nav > li > a, .navbar .nav > li > a {
        padding:15px 5px;
    }
    
}

.hvr-underline-from-center:before {
    background:#2DE1FC;
}

.dropdown-menu { 
    background-color: rgba(0,0,0,0.2); 
    border-radius:12px;
    color: #fff;
    font-size:20px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { 
        -webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;	
	transition: all .3s ease-in-out;
    background-color: #09f; 
    color:#fff; 
}
.dropdown-menu>li>a {
    color:#fff;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }

.navbar-toggle {
    margin-top:30px;
    border-bottom:0px;
    position: relative;
    float: center;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    color:#A34C73;
    margin-bottom: 8px;
    background-color: #e5e5e5;
    background-image: none;
    border: none;
    border-bottom:2px solid #fff;
    border-radius: 0px;
}

.navbar-toggle .fa {
    color: #A34C73;
}

.navbar-collapse {
    border:0px;
}

.navbar-fixed-top {
    border-bottom:2px solid rgba(136,255,131,1);
    padding:0px;
}

.jumbotron .fa {
    color:#fff;
    text-align: center;
    font-size:60px;
    display:block;
    margin-left:auto;
    margin-right:auto;
            -webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;	
	transition: all .3s ease-in-out;
    
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
      color:#fff;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    color:#00A7E1;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
      color:#fff;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
      color:#fff;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
      color:#00A7E1;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
      color:#fff;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

#hvr-bob {
  display: block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
    -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}


.jumbotron .fa:hover {
    cursor:pointer;
    color:#00A7E1;
}

.jumbotron {
    margin:0px;
    background:linear-gradient(#292F36, rgba(0,52,89,0.7)),
                #292F36 url('https://charliejames.me/images/Skyline3.jpg');
    background-position: center;
    background-attachment: fixed;
}

.jumbotron .view {
    padding-top:100px;
    padding-bottom:250px;
}

.jumbotron .view > h2{ 
    #text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    text-align: center;
    color:#fff;
    font-weight: 300;
    margin-bottom:10px;
}

.jumbotron .view > h1{ 
    #text-shadow: 1px 1px 17px rgba(0, 0, 0, 1);
    text-align: center;
    color:#2DE1FC;
    font-weight: 600;
}

.questions {
    text-align: center;
    color:#fff;
    font-size:20px;
    padding-top:20px;
    padding-bottom:10px;
    background:#00A7E1;
}

.questions a{
    text-decoration: none;
    color:#fff;
    padding:5px;
    border:2px solid #fff;
    margin-left:10px;
    border-radius:5px;
    -webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;	
	transition: all .3s ease-in-out;
    margin:5px;
}

.questions a:hover {
    background:#fff;
    color:#00A7E1;
}

.clients .row {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:75%;
}

.clients {
    color:#fff;
    padding-top:50px;
    padding-bottom:50px;
    background:#292F36;
}

.clients .col-md-3 {
    text-align: center;
}

.clients .col-md-3 h2 {
    font-weight: 600;
    border-bottom:2px solid #00A7E1;
    width:85%;
    font-size:40px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:-10px;
    padding-bottom:10px;
}

.clients .fa {
    font-size:30px;
}
 

.clients .col-md-3 p {
    color:#00A7E1;
    text-transform: uppercase;
    font-size:18px;
}

.features {
    color:#fff;
    padding-top:50px;
    padding-bottom:250px;
    background:#252A30;
}

.features .col-md-4 .fa {
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    color:#00A7E1;
    font-size:40px;
}

.features .col-md-4 {
    text-align: center;
}

.features .col-md-4 p {
    font-size:18px;
    font-weight: 300;
}

.why .develop {
    margin-bottom:50px;
}
.why .develop .col-md-6 .block {
    border-radius:2px;
    background:#00A7E1;
    color:#fff;
    padding:20px;
}

.why .develop .col-md-6 .block {
    font-size:16px;
}

.why .col-md-6 h2{
    text-align: center;
    font-weight: 600;
}

.why .col-md-6 {
    margin-top:-190px;
}

.why {
    background:#2D333B;
    color:#fff;
    padding-bottom:50px;
}

.why #row {
    margin-top:210px;
}



.why .vouches small {
    font-size:18px;
    color:#00A7E1;
}

.why .vouches p {
    font-size:20px;
    font-weight: 300;
    line-height: 1.2;
}

.why .vouches .block {
    background:rgba(0,0,0,0.1);
    padding:20px;
    border-radius:2px;
    color:#fff;
    height:260px;
    font-size:22px;
    border-bottom:3px solid rgba(0,0,0,0.05);
}

@media only screen and (max-width: 960px), only screen and (max-device-width: 960px) {
  .why .vouches {
    padding:20px;
  }
    
    .why .vouches .block {
        height:360px;
    }
    
}

.why .vouches h3{
    text-align: center;
    font-weight: bold;
}


.why .vouches .inner {
    padding-left:20px;
    padding-right:20px;
}

.why .vouches h1{
    padding-bottom:10px;
    border-bottom:3px solid rgba(0,0,0,0.2);
    text-align: center;
    width:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-weight: 600;
}

.why .vouches .block h2{ 
    font-weight: 600;
}

.why #row {
    margin-top:200px;
}

.why #bold {
    font-weight: 300;
}

.why .inner p {
    font-weight: 200;
    font-size:20px;
}

#footer {
  background:#252A30;
  width:100%;
}

.footer-header {
  width:100%;
  background: rgba(0,0,0,0.2);
  padding:30px;
  padding-left:25px;
  color:#fff;
}

.footer-header h3 {
  font-weight: 700;
}

.footer-header p {
  font-size:16px;
  color:#fff;
}

.footer-header .col-md-6 p {
  text-align: right;
  color:#00A7E1;
}

.footer-header a{
  text-decoration: none;
  font-size:16px;
  color:rgba(255,255,255,0.6);
  padding-right:20px;
  padding-bottom:5px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-bottom:2px solid rgba(0,0,0,0);
}

.footer-header a:hover {
  border-bottom:2px solid #00A7E1;
}


.footer-header li {
  list-style: none;
}

.footer-header li > a{
  text-decoration: none;
  color:#fff;
  border-bottom:1px dotted #fff;
  font-size:18px;
}

.footer {
  background: rgba(0,0,0,0.15);
  padding-top:20px;
  padding-bottom:20px;
}

.footer p {
  font-size:18px;
  color:rgba(255,255,255,0.6);
}

.footer a{
  text-decoration: none;
  color:#00A7E1;
  border-bottom:1px dotted #00A7E1;
  font-size:18px;
}
